@import "tailwindcss";
/* ref: found this in stack overflow and learned it from there */
@utility link-underline-animation {
    @apply relative inline-block no-underline
      after:content-['']
      after:absolute after:left-0 after:top-full
      after:mt-[0.2em] after:h-[0.1em]
      after:w-0 after:bg-current
      after:transition-all after:duration-500
      hover:after:w-full;
  }
 
 